.button{

  padding: 20px 30px;

  font-size: 13px;

  line-height: 16px;

  text-align: center;

  border: 0;

  cursor: pointer;

  transition: all .3s ease-in;

  outline: none !important;

  font-weight: 100;

  letter-spacing: 1px;

  &:hover{

    text-decoration: underline;

  }


  &.is-primary{

    background: $red;

    color: #fff;

    min-width: 280px;

    &:hover{

      text-decoration: none;

      box-shadow: 0 0 0 200px rgba(0,0,0,0.2) inset;
    }

  }


  &.is-danger{

    color: $red;

    border: 1px solid $red;

    &:hover{

      text-decoration: none;

      background: $red;

      color: #fff;

    }

  }


  &.is-cancel{

    text-decoration: none;

    background-color: #E9EFF4;

    color: $light-grey;

  }


  &.is-big{

    width: 240px;

  }


  &.is-small{

    font-size: 11px;

    padding: 7px 12px;
  }


  &.add{

    padding-left: 15px;

    &:before{

      content: '+';

      float: left;

      font-size: 20px;

      margin-right: 15px;

    }

  }

}



.back{

  position: relative;

  color: $blue;

  margin-right: 28px;

  cursor: pointer;

  &:before{

    content: "";

    width: 18px;

    height: 8px;

    float: left;

    margin-right: 5px;

    margin-top: 6px;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

    transition: all .2s ease;

  }

  &:hover{

    &:before{
      transform: translateX(-4px);
    }

  }

}


.button-wrapper{

  position: relative;

  display: flex;




  @include mobile{

    a{

      width: 100%;

      margin-bottom: 20px;

    }

  }

}