.heading-content{

  float: left;

  text-align: left;



  h4{

    letter-spacing: 1.5px;

    text-transform: uppercase;

    text-align: center;

    color: $red;

    font-family: 'Fjalla One', sans-serif;

  }

  h2{

    font-weight: 700;

    text-align: center;

    text-transform: uppercase;

    letter-spacing: 1px;

    margin: 15px 0 30px 0;

  }

  p{

    max-width: 950px;

  }

}