.tabs{

  float: left;

  width: 100%;

  min-height: 450px;

  margin-bottom: 60px;

  ul{list-style: none; margin: 0; padding: 6px 0;}

  &-header{

    float: left;

    width: 100%;

    display: flex;

    overflow-x: scroll;

    scroll-snap-type: x proximity;


    &.mobile-only{

      display: none;

      @include mobile{ display: flex}

    }

    @include mobile{

      border-top: 1px solid rgba(0,0,0,0.1);

      border-bottom: 1px solid rgba(0,0,0,0.1);

      padding: 0 !important;


    }

    &--tab{

      padding: 20px;

      cursor: pointer;

      font-size: 18px;

      line-height: 18px;

      margin: 0;

      font-family: 'Fjalla One', sans-serif;

      transition: all .3s ease;


      &:hover{ color: $red; }

      &.active{

        color: $red;

        background: #fff;

        box-shadow: 0 0 5px rgba(0,0,0,.1)

      }


      @include mobile{

        padding: 20px 10px;

        min-width: 120px;

      }

    }

  }

  &-body{

    position: relative;

    float: left;

    width: 100%;


    &--tab{

      //position: absolute;

      top: 0;

      left: 0;

      width: 100%;

      opacity: 0;

      display: none;

      padding: 20px 20px 0 20px;

      transition: opacity .4s cubic-bezier(.29,.94,.93,1);

      min-height: 400px;

      text-align: left;

      flex-flow: column;


      &.active{

        opacity: 1;
        display: flex;

      }


      .city-description{

        //padding-left: 45px;

        @include mobile{

          padding-left: 0;

          text-align: justify;
        }

      }


      section{

        float: left;

        width: 100%;

        padding: 40px 0 0 0;

        font-size: 18px;

        line-height: 24px;


        svg{

          float: left;

          width: 30px;

          margin-right: 15px;

        }

        h6{

          margin-bottom: 20px;

          margin-top: 8px;

          font-size: 22px;

        }

        a{ max-width: 200px; margin-top: 10px;}

        ul{


          li{

            list-style: disc;

            line-height: 26px;

            margin: 0 0 0 20px;


            &:not(:last-of-type){

              margin-bottom: 15px;

            }

            strong{ font-size: 13px; margin-bottom: 5px}

          }

        }


        @include mobile{

          display: flex;

          flex-flow: column;

          align-items: center;

          text-align: left;

          svg{margin-right: 0}

          a{

            margin: 10px auto 0;

          }

          span{
            text-align: center;
          }

          h6{

            text-align: center;

            margin-top: 15px;

          }

          ul{

            li{


              &:not(:last-of-type){

                margin-bottom: 20px;

              }

            }

          }

        }

      }

    }

  }


  .gallery{

    float: left;

    width: 100%;

    margin-top: 30px;


    a{

      float: left;

      width: calc(25% - 2px);

      max-width: none;

      height: 150px;

      overflow: hidden;

      margin: 1px;

      img{

        width: 100%;

        height: 100%;

        object-position: 50% 50%;

        object-fit: cover;

      }

      @include mobile{

        width: calc(50% - 2px);

      }

    }
  }

}